
body {
    background-color: #fcf9f3; /* Same background color */
    
}
.comment-box {
    background-color: #ffffff; /* White box */
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.form-control {
    border: 1px solid #e5e5e5; /* Light border */
    padding: 12px;
    border-radius: 3px;
}
.btn-custom {
    background-color: #a67c52; /* Button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}
.btn-custom:hover {
    background-color: #8c6239; /* Darker shade on hover */
}


.input-box{
    width: 65%;
}

.leave{
   font-family:  Newsreader, serif;
   font-size: 21px;
   color: rgb(0, 0, 0);
   line-height: 35px;
   font-weight: 400;
}

.email{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 24px;
    font-weight: 400;
}
.type{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: rgb(17, 17, 17);
    line-height: 24px;
    font-weight: 400;
}



.name{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: rgb(17, 17, 17);
    line-height: 13px;
    font-weight: 400;
}

.save{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 24px;
    font-weight: 400;
}

.post-comment{
    font-family: Poppins, sans-serif;
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 24px;
    font-weight: 400;
}